<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg" %></p>
</div>
<div class="row">
  <div class="col-lg-4">
    <h2>Testimony 1</h2>
    <p class='testimony'>Bacon ipsum dolor amet bacon meatloaf sirloin salami, venison meatball jerky. Boudin ball tip turducken buffalo pork chop bacon short ribs beef. Pig sirloin capicola t-bone. Beef ribs short ribs tenderloin filet mignon spare ribs strip steak rump pancetta landjaeger biltong buffalo. Leberkas spare ribs shank hamburger tongue, frankfurter brisket ground round sausage ham hock beef ribs pig swine jerky. Tail fatback short ribs burgdoggen.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Testimony 2</h2>
    <p class='testimony'>Cow alcatra jerky capicola beef ribs. Kielbasa cupim rump pork, bresaola chicken spare ribs short ribs short loin beef. Pancetta shankle capicola pig pork chop andouille sirloin ham hock sausage hamburger doner frankfurter drumstick shoulder brisket. Meatball brisket ball tip cupim, flank pancetta pork loin beef t-bone. Leberkas pork chop ham hock, rump corned beef brisket pancetta sausage bresaola frankfurter pastrami kielbasa short ribs bacon. Pig drumstick cow picanha, filet mignon ham landjaeger buffalo tongue meatloaf short loin shoulder jerky.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Testimony 3</h2>
    <p class='testimony'>Ribeye leberkas short ribs ground round shankle chislic hamburger. Flank bresaola shankle sausage. Jerky beef cow, ham hock kielbasa beef ribs boudin. Alcatra pig bresaola ground round prosciutto. Short ribs short loin tri-tip picanha sirloin bresaola, capicola buffalo tongue shank ribeye kielbasa. Jerky corned beef ham hock filet mignon chuck cupim short loin shank tongue alcatra pig pastrami rump doner.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
</div>
